body {
  margin: 100px;
}

.codeInfoPanelWrapper {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.codeInfoPanelWrapper button {
  font-family: "Source Sans Pro", sans-serif;
}

.codeInfoPanelWrapper * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.codeInfoPanel {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  font-size: 16px;
}

.codeInfoCardWrapper {
  flex-basis: 50%;
  padding: 0 10px;
  margin-bottom: 10px;
}

.codeInfoCard {
}

.codeInfoCard h1 {
  font-size: 115%;
  padding: 20px 0 10px 0;
  border-bottom: 1.5px solid #666666;
  margin-bottom: 20px;
}

.codeInfoCard p {
  margin: 10px 0;
  line-height: 150%;
}

.codeInfoCard a.externalLink {
  background-color: #ffffff;
  border: #2f915f solid 2px;
  color: #2f915f;
  font-weight: 600;
  letter-spacing: 0.25px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  /* transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in; */
}

.codeInfoCard a.externalLink:hover {
  background-color: #2f915f;
  color: #ffffff;
}

.codeExampleCardWrapper {
  flex-basis: 50%;
  min-width: 400px;
  padding: 0 10px;
}

@media only screen and (max-width: 1020px) {
  .codeInfoPanel {
    margin: 0;
  }

  .codeExampleCardWrapper {
    flex-basis: 100%;
    padding: 0;
    min-width: 0px;
  }

  .codeInfoCardWrapper {
    flex-basis: 100%;
    padding: 0;
  }
}

.codeExampleCard {
  height: 100%;
  background: #303030;
  color: #ffffff;
  padding: 20px 20px 15px 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 10px 10px 100px -10px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 10px 10px 100px -10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 10px 10px 100px -10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.codeExampleCard .buttonContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.codeExampleCard button {
  font-size: 115%;
  flex-basis: 25%;
  flex-grow: 1;
  padding: 0 10px 10px 10px;
  background: none;
  border: none;
  color: #bbbbbb;
  text-shadow: none;
  border-bottom: 1.5px solid #666666;
  transition: border-bottom 0.5s ease-out;
}

.codeExampleCard button:focus {
  outline: 0;
}

.codeExampleCard button.active {
  color: #ffffff;
  /* font-weight: bold; */
  text-shadow: -0.3px 0 white, 0.03px 0 white;
  border-bottom: 1.5px solid #99e394;
}

.codeExampleCard button.active:hover {
  border-bottom: 1.5px solid #99e394;
}

.codeExampleCard button:hover {
  color: #ffffff;
  /* font-weight: bold; */
  text-shadow: -0.3px 0 white, 0.03px 0 white;
  border-bottom: 1.5px solid #ffffff;
  cursor: pointer;
}

.codeExampleCard pre {
  overflow-x: scroll;
  /* text-overflow: ellipsis; */
  line-height: 150%;
  padding-bottom: 20px;
}
